*{
          box-sizing: border-box;  
        }

        body{
            margin:0;
            padding: auto;
            font-family: sans-serif;
            background: #204862;
            padding: 8%;
        }

        h1{
            color: #fff;
            text-align: center;
        }
        h3{
            text-align: center;
        }
        .form-register{
            width: 150%;
            max-width:500px;
            margin: auto;/*ara centrar el formulario*/
            background: white;
            border-radius: 7px;
        }
      
        .titulo{
            background:deepskyblue;
            color:#fff;
            padding: 12px;
            text-align: center;
            font-weight: 100;
            font-size: 30px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 3px solid crimson;
        }
        .contenedor-inputs{
            padding: 10px 30px;
            display: left;
            flex-wrap: wrap;
            justify-content: space-between;/*para separar los inputs*/
        }
        textarea{
            width: 100%;
            height: 80px;
        }

        input{
            margin-bottom: 15px;
            padding: 15px;
            font-size: 16px;
            border-radius: 3px;
            border:1px solid darkgray;
        }
        .input-100{
           width: 100%;
        }
        .input-50{
            width: 49.2%;
        }
        .input-30{
            width: 32%;
        }
        .input-20{
        width :15%;
        }
        .input-40{
            width:25%;
        }
        .input-10{
        width:49%;
        height: 250%
        }
        .btn-enviar{
            color: white;
            background: crimson;
            margin: auto;
            padding: 10px 20px;
            cursor: pointer;
        }
        .btn-enviar:active{
            transform: scale(1.08);
        }