* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #2d2c41;
	font-family: sans-serif;
}

ul{
	list-style-type: none; 
}
a {
	color: #fff;

}

/**
 *contenedor principal
 */

 .acordeon{
 	width: 100%;
 	max-width: 360px;
 	margin: 60px auto 70px;
 	background: #fff;
 	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
    border-radius: 4px;
 }

 .acordeon .link{
 	display: block;
 	padding: 15px 15px 15px 42px;
 	color:#4d4d4d;
 	font-size: 14px;
 	border-bottom: 1px solid #ccc;
 	position: relative;
 	-webkit-transition: all 0.4s ease;
 	-o-transition: all 0.4s ease;
 	transition: all 0.4s ease;
 }
 ------------------------------------------
.contenedor-menu .menu .icono.izquierda {
	float:left;
	margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha {
	float:right;
	margin-left:10px;
}

.contenedor-menu .menu ul {
	display: none;

}

.contenedor-menu .menu ul li a {
	background: black;
	color: white;
}

.contenedor-menu .menu .activado > a {
  background: #1a95d5;
  color: white;
}

@media screen and (max-width: 450px) {
 body{
   padding-top: 80px; 
 	}

  .contenedor-menu{
  	margin: 0;
  	width: 100%;
  	position: fixed;
  	top: 0;
  	z-index: 1000;
  }	
  .btn-menu{
  	display: block;
  }
  .contenedor-menu .menu{
  	display: none;
  }
}