        *{
            box-sizing: border-box;
        }

        body{
            margin: 0;
            font-family: sans-serif;
            background: #204862;
            padding: 4px;
        }

        h1{
            color: #fff;
            text-align: center;
        }
        .form-register{
            width: 80%;
            max-width: 600px;
            background: white;
            border-radius: 7px;
            margin: 0;
        }
      
        .titulo{
            background:deepskyblue;
            color:#fff;
            padding: 12px;
            text-align: center;
            font-weight: 100;
            font-size: 30px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 3px solid crimson;
        }
        
        input{
            margin-bottom: 10px;
            padding: 5px;
            font-size: 37px;
            justify-content: space-between;
            border-radius: 3px;
            border:1px solid darkgray;
        }
        
        .input-50{
          width: 30%;
        }    
        
        .input-cel{
            width: 37%;
        }